form {
  /* border: 2px solid red; */
  width: 50%;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#submit-btn {
  align-self: center;
  padding: 5px 15px;
  outline: none;
  background-color: #A2D6F9;
  border: 1px solid #1E96FC;
  border-radius: 4px;
  color: #072AC8;
  margin: 10px;
  cursor: pointer;
  transition: filter 0.3s;
}
#submit-btn:hover {
    filter: drop-shadow(1px 1px #1E96FC);
}
::-webkit-file-upload-button {
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #1E96FC;
  cursor: pointer;
  border: 1px solid #1E96FC;
  transition: all 0.2s;
}
::-webkit-file-upload-button:hover {
  transition: all 0.2s;
  background-color: white;
  color: #1E96FC;
  border: 1px solid #1E96FC;
}
#uploaded {
  color: #2ecc71
}

#file-id {
  font-weight: bold;
  border: 1px solid #1E96FC;
  padding: 10px;
  border-radius: 8px;
}

#connected-users {
  list-style-type: "🔴";
  font-weight: bold;
  margin-bottom: 10px;
}
#connected-users span {
  color: #1E96FC;
}